.header__link {
    color: black;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    
}
.header__link:hover {
    color: rgb(182, 156, 12);
    font-weight: bold;
    transition: 1ms;
} 
@media screen and (min-width: 0){
    .header__link {
        font-size: 14px;
        padding-right: 3px;
    }
    .header__link:hover {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px){
    .header__link:hover {
        font-size: 16px;
    }
}