.header {
    background: whitesmoke ;
    display: flex;
    width: 100%;  
}
@media screen and (min-width: 0){
    .header {
        height: 70px;
    }

}
@media screen and (min-width: 768px){
    .header {
        height: 60px;
    }

}
