.formulario__input {
    background-color: whitesmoke;
    border: 0.5px solid;
    height: 30px;
    
}
@media screen and (min-width: 0){
    .formulario__input{
        width: 85%;
    }
    .input-padrao {
        width: 85%;
    }
}
@media screen and (min-width: 768px){
    .formulario__input{
        width: 30%;
    }
    .input-padrao {
        width: 45%;
    }
}